.homeT {
    padding-right: 30%;
}

.awayT {
    padding-left: 30%;
}
 h4 {
    font-weight: bold !important;
}

.img-circle,.title {
    cursor: pointer;
    font-weight: bold;
}


.fa-robot {
    margin-right: 9px;
}


.winner {
    color: #0D9814;
    margin-left: 7px;
}

.percent {
    color: darkblue;
    margin-left: 7px;
}
