.favourite-icon {
    margin-bottom: 0.5%;
}
.countryFlag1 {
    height: 15px; margin-bottom: 0.3%;
}

.description {
    font-size: 15px;
}


.games {
    font-weight: bold;
    cursor: pointer;
}


.countryFlag {
    height: 15px; margin-top: 0.2%;
    margin-right: 0.2%;
    margin-left: 0.2%;
}
