.navbar-brand{
    padding-left: 30px;
}
.nav-item {
    padding-left: 28px;
}

/* The sidebar menu */
.sidenav {
    /*height: 100%; !* Full-height: remove this if you want "auto" height *!*/
    width: 100%; /* Set the width of the sidebar */
    background-color: lightgray; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px;
    padding-left: 0px;
    margin-left: 0px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    cursor: pointer;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover {*/
/*    color: #f1f1f1;*/
/*}*/
.col {
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.DefaultMsg {
    padding-top: 30px;
    width: 100%;
    text-align: center;
    font-weight: bold;


}

.games {
    font-weight: bold;
    cursor: pointer;

}


.league-name {
    color: darkslateblue;
    cursor: pointer;
}


.countryFlag {
    height: 15px; margin-top: 0.2%;
    margin-right: 0.2%;
    margin-left: 0.2%;
}


ngb-panel {
    border-radius: 0px!important;
}
